*{
    margin: 0;
    padding: 0;
}

#container{
    min-height: 100vh;
    min-width: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:40% min-content min-content 1fr 1fr 1fr min-content ;
}


header{
    grid-column: span 3;
    grid-row: 1;
    /* background-color: blue; */
    background-image: url(images/phare.jpg);
}

.our{
    grid-column: span 3;
    grid-row: 2/3;
    background-color: red;
}

nav{
    grid-column: span 3;
    grid-row: 3/4;
    background-color: aqua;
 
}

ul{
    display: flex;
    justify-content: space-around;
   
}
li{
    border: 1px solid grey;
    margin: 15px;
    padding: 10px 15px;
    list-style-type: none;
}
a:link{
    text-decoration: none;
}

a:hover{
    background-color: blue;
}


.img1{
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: antiquewhite;
}

.img2{
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: antiquewhite;
}

.img3{
    grid-column: 3/4;
    grid-row: 4/5;
}
.img4{
    grid-column: 2/4;
    grid-row: 5/6;
}
.img5{
    grid-column: 2/3;
    grid-row: 5/6;
}
.img6{
    grid-column: 1/3;
    grid-row: 6/7;
}
.img7{
    grid-column: 3/4;
    grid-row: 6/7;
}

.more{
    grid-column: 2/3;
    grid-row: 7/8;
    background-color: aquamarine;
}

@media (max-width:640px)
{
    .container
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        min-height: 100vh;
    }
    
header{
    grid-column: 1;
    grid-row: 1;
    /* background-color: blue; */
    background-image: url(images/phare.jpg);
}

.our{
    grid-column: 1;
    grid-row: 1;
    background-color: red;
}

nav{
    grid-column: 1;
    grid-row: 1;
    background-color: aqua;
 
}


li{
    border: 1px solid grey;
    margin: 15px;
    padding: 10px 15px;
    list-style-type: none;
}
a:link{
    text-decoration: none;
}

a:hover{
    background-color: blue;
}


.img1{
    grid-column: 1;
    grid-row: 1;
    background-color: antiquewhite;
}

.img2{
    grid-column: 1;
    grid-row: 1;
    background-color: antiquewhite;
}

.img3{
    grid-column: 1;
    grid-row: 1;
}
.img4{
    grid-column: 1;
    grid-row: 1;
}
.img5{
    grid-column: 1;
    grid-row: 1;
}
.img6{
    grid-column: 1;
    grid-row: 1;
}
.img7{
    grid-column: 1;
    grid-row: 1;
}

.more{
    grid-column: 1;
    grid-row: 1;
    background-color: aquamarine;
}
}